
img {
  display: block;
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 5px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {  
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.search-form,
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

.photos {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  
}

.info {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 10px;
}

.info-item {
  padding: 0;
  margin: 0;
}

.photo-card {
  width: 400px;
  
}
